body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-left: 4%;
}

#crimson {
    color: rgba(165, 5, 37, 0.77);
    margin-left: 12%;
}

.bolder {
    font-weight: 900;
    font-size: 24px;
    margin-left: 4%;
}

#personal {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 560;
    padding-left: 2%;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
    padding-left: 16%;
}

.button {
    margin-left: 7%;
    text-decoration: none;
    background-image: linear-gradient(tomato, darkred);
    color: white;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 13px;
}

#top-shape {
    background-image: url(pic/New\ Project.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.orangepic img {
    width: 85%;
    margin-left: 20%;
}

#goal {
    margin-left: 30%;
    color: rgba(165, 5, 37, 0.77);
}

.liberation {
    margin-left: 15%;
    font-size: 20px;
    font-weight: 560;
}

.extra {
    margin-left: 12%;
}

#resume {
    margin-left: 14%;
}