body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

#beginning-h {
    font-size: 50px;
    margin-left: 4%;
}

#crimson {
    color: rgba(165, 5, 37, 0.77);
    margin-left: 12%;
    font-size: 48px;
}

.bolder {
    font-weight: 900;
    font-size: 24px;
    margin-left: 4%;
}

#personal {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 560;
    padding-left: 2%;
}

.flex-contain {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
    padding-left: 16%;
}

.button {
    margin-left: 7%;
    text-decoration: none;
    background-image: linear-gradient(tomato, darkred);
    color: white;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 13px;
}

#progress {
    margin-bottom: 100px;
}

#top-shape {
    background-image: url(pic/New\ Project.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.orangepic img {
    width: 85%;
    margin-left: 20%;
}

#goal {
    margin-left: 30%;
    color: rgba(165, 5, 37, 0.77);
    font-size: 48px;
}

.liberation {
    margin-left: 15%;
    font-size: 20px;
    font-weight: 560;
}

.extra {
    margin-left: 12%;
}

#resume {
    margin-left: 14%;
}

#experiences {
    font-size: 48px;
    margin-left: 5%;
}

.experience-titles {
    color: rgba(165, 5, 37, 0.77);
}

.exp-area {
    box-shadow: 10px 10px 50px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 14px;
}

.past-exp {
    margin-bottom: 100px;
}

#red {
    border-left: 8px solid firebrick;
}

#blue {
    border-left: 8px solid darkslateblue;
}

footer p {
    text-align: center;
}

<link rel="shortcut icon" href="logo.jpg" type="image/x-icon">